*{
  font-family: Arial;
}

body{

  background-color: rgb(231, 236, 250);
}

form{
  padding: 3rem;
}

input, select, button{
  padding: 10px 5px;
  margin: 10px;
  border: none;
  width: 42%;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 10px;
}

select{
  cursor: pointer;  
}
  
  button{
    width: 50%;
    margin-left: 20%;
    cursor: pointer;
    color: white;
}

#delete-btn{
  margin-top: 2rem;
  background-color: rgb(189, 43, 7);
}

#submit-btn{
  background-color: rgb(36, 99, 36);
  margin-top: 25px;
}

#js-html{
  font-size: 1.2rem;
  margin: 50px;
}

div{
  margin-top: 1rem;
}

footer{
  text-align: center; 
  margin-top: 50px;
 font-size: 1.1rem;
}

/* Media Query */

@media(min-width: 275px) and (max-width: 575px){
  form input, select, button {
    width: 100%;
  }
  button{
    margin-left: 0;
  }
}